.indexBackgroundImage {
	background-image: url("https://c1.staticflickr.com/9/8111/8608094661_f6fdcc0c83_b.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.panel {
	background-color: white;
	width: 500px;
	opacity: .75;
	margin-top: 20px;
	align-self: center
}

h1, .inputFields {
	font-weight: bold;
	font-family:fantasy;
	margin: 10px;
}

.actionImage {
	background-image: url("http://www.publicdomainpictures.net/pictures/150000/velka/tropical-beach-1454007190ZAK.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
