.list {
	display: flex;
	align-items: center;
	padding: 25px 100px 50px 100px;
	background-color: white;
	opacity: .5;
}

ul {
	list-style-type: none;
	display:flex;
	flex-direction: column;
	margin-left: 10px
}

ul li {
	margin: 5px;
}

span {
	margin-right: 20px;
}

form {
	margin-left: 40px;
}

input {
	width:100px;
}

.done {
	text-decoration: line-through;
}

.indexBackgroundImage {
	background-image: url("https://c1.staticflickr.com/9/8111/8608094661_f6fdcc0c83_b.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.done-button {
	float: right;
}
